{% load genericsite %}{% with object as article %}
<article class="article-full">
  <h1 class="article-title">{% firstof article.headline article.title article.schema.title %}</h1>
  {% if article.author %}
  <p class="article-meta">{{ article.date_published|date:"DATE_FORMAT"}}
    <a href="{{ article.author.url }}">{{ article.author.name }}</a></p>
  {% else %}
  <p class="article-meta">{{ article.date_published|date:"DATE_FORMAT"}}</p>
  {% endif %}
  {% opengraph_image article as img %} {% if img %}
  <p>
    <img
    class="img-fluid"
    src="{{img.large.url}}"
    alt="{{img.alt_text}}"
    height="{{img.large.height}}"
    width="{{img.large.width}}"
    />
  </p>
  {% endif %}
  {{ article.body|safe }}
</article>
{% endwith %}