{% extends 'commoncontent/base.html' %}
{% block content %}
  <main class="container">
    {% if validlink %}
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-lg btn-primary" type="submit" value="login">Set password</button>
      </form>
    {% else %}
      <p>
        Your link has expired or is no longer valid. If you still cannot log in,
        try <a href="{% url 'password_reset' %}">requesting a new link</a>.
      </p>
    {% endif %}
  </main>
{% endblock content %}
